.App {
  height: 100vh; 
  height: calc(var(--vh, 1vh) * 100);
}

.App a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

.ant-layout-header{
    background-color: #F0F2F5 !important;
}

.ant-layout{
    background-color: inherit !important;
}

.ant-layout-footer{
    background-color: #F0F2F5 !important;
}

.App .antd__layout__in__app{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.App .app__slider{
  position: relative;
  height: 100vh;
}

.App .site__layout{
  width: 100% !important;
  background-color: inherit !important;
}

.App .app__top{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 9vh;
  padding: 0 20px;
}

.App .app__body{
  position: relative;
  height: 83vh;
  display: flex;
  flex-direction: column;
}

.App .app__bottom{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 7vh;
  padding: 0 20px;
  justify-content: center;
}